@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Ovo&family=Passions+Conflict&family=Playfair+Display+SC:wght@400;700;900&family=Qwitcher+Grypen:wght@400;700&display=swap');


body a{
    font-family: 'Outfit', sans-serif;
    color: #373737;
}
html{
    height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.mymenu .page_color{
    color: #AE9554;  
    font-weight: bold; 
}

header .sub_nav .main_menu .sub_title .nav_menu_list .sub_list > li > .page_color{
    color: #AE9554;
    font-weight: bold;
}

header .sub_nav .sub_title .page_color_line {
    border: 3px solid #AE9554;
    box-sizing: border-box;
}
.menu_right .mymenu .search a > .fa-magnifying-glass {
    color: #AE9554;
}





/* SEARCH BACKGROUND */
body{
    position: relative;    
}
body .black_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: block;
    z-index: 1;
    display: none;
} 
/* body::after{
    display: block;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
} */

/* HEADER - nav top */

header .nav_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 33px 0;
    width: 1240px;
    margin: 0 auto;
}
header .nav_line{
    border-bottom: 1px solid rgba(216, 216, 216, 0.6);
    width: 100%;
    display: block;
}
header .logo .logo_img {
    background: url(../images/main/logo.svg) no-repeat;
    width: 281px;
    height: 21px;
    display: block;
    text-indent: -9999em;
}
header .menu_right .mymenu{
    display: flex;
    gap: 19px;
    font-weight: 300;
}
/* header .menu_right .mymenu li:last-child {
    text-indent: -9999em;
} */


/* HEADER - sub nav */
header #main_nav{
    padding-bottom: 31px;
    background: #fff;
    position: relative;
    z-index: 10;
}
header #main_nav .nav_bottom{
    display: flex;
    width: 1240px;
    margin: 0 auto;
    padding-top: 33px;
}
header .sub_nav {
    /* position: relative; */
    display: flex;
    gap: 20px;
}
header .sub_nav .sub_title{
    display: flex;
    width: 1240px;
}
header .sub_nav .sub_title .sub_banner {
    position: relative;
    width: 210px;
    height: 340px;
    overflow: hidden;
}
header .sub_nav .sub_title .sub_banner > a{
    display: block;
}
header .sub_nav .sub_title .sub_banner > .sub_banner_ct{
    position: absolute;
    top: 0;
    display: block;
    color: #fff;
}
header .sub_nav .sub_title .sub_banner > .sub_banner_ct > p:first-child{
    font-family: 'Ovo', serif;
    font-size: 20px;
    text-align: center;
    width: 210px;
    margin-top: 265px;
}
header .sub_nav .sub_title .sub_banner > .sub_banner_ct > div{
    display: flex;
    background-color: rgba(255, 255, 255, 0.22);
    line-height: 29px;
    margin-top: 26px;
    align-items: center;
}
header .sub_nav .sub_title .sub_banner > .sub_banner_ct > div > .move{
    /*font-family: 'Outfit', sans-serif;*/
    font-size: 10px;
    padding-left: 26px;
}
header .sub_nav .sub_title .sub_banner > .sub_banner_ct > div > span{
    font-size: 14px;
    padding-left: 4px;
}
header .sub_nav .sub_title .sub_banner a img{
    object-fit: cover;
}
header .sub_nav .main_menu{
    /* position: absolute; */
    display: flex;
    gap: 20px;
}
header .sub_nav .main_menu > a:hover{
    color: #AE9554;
}
header #main_nav .sub_menu_wrap{
    position: absolute;
    top: 166px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    padding-top: 52px;
    padding-bottom: 90px;
    box-shadow: 16px 6px 6px rgb(0 0 0 / 6%);
    /* transition: all 0.5s;   */
    /* display: none; */
    /*잠시 안보이기*/
}
header .sub_nav .main_menu > a{
    font-size: 14px;
    font-weight: 500;
}
header .sub_nav .main_menu > div > .sub_menu{
    width: 1240px;
    margin: 0 auto;
}
header .sub_nav .main_menu > .sub_menu{
    /* display: none; */
    position: absolute;
    left: 0;
    top: 71px;
    z-index: 10;
}
/* */
header .main_menu_blank{
    display: flex;
    gap: 17px;
    padding-left: 40px;
    position: relative;
    font-size: 14px;
}
header .main_menu_blank::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 13px;
    background: #D8D8D8;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}
header .sub_nav .main_menu:first-child .sub_title .sub_banner > a > img{
    transform: translate(-34px, 0px);
}
header .sub_nav .main_menu:nth-child(4) .sub_title .sub_banner > a > img{
    transform: translate(-192px, 0px);
}
header .sub_nav .main_menu:nth-child(6) .sub_title .sub_banner > a > img{
    transform: translate(-54px, 0px);
    width: 324px;
    height: 346px;
}
header .sub_nav .main_menu .sub_title .nav_menu_list{
    display: flex;
    gap: 76px;
    padding-left: 73px;
    font-size: 14px;
}
header .sub_nav .main_menu .sub_title .nav_menu_list > li > a{
    font-weight: 550;
}
header .sub_nav .main_menu .sub_title .nav_menu_list .sub_list{
    padding-top: 14px;   
}
header .sub_nav .main_menu .sub_title .nav_menu_list .sub_list > li{
    line-height: 26px;
}
header .sub_nav .main_menu .sub_title .nav_menu_list .sub_list > li > a{
    color: #6B6B6B;
}

/* SEARCH POPUP */
header .search_popup_wrap{
    position: absolute;
    height: 666px;
    background: #fff;
    box-shadow: 16px 6px 6px rgb(0 0 0 / 6%);
    z-index: 10;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    display: none;
}
/* header .search_popup_wrap .cancle_wrap{
    width: 1240px;
    margin: 0 auto;
    position: relative;
} */
header .search_popup_wrap .cancle{
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    right: 0;
    width: 1240px;
    margin: 0 auto;
    display: block;
    margin-top: 31px;
}
header .search_popup_wrap .cancle > .material-symbols-outlined{
    font-size: 35px;
    position: absolute;
    right: 0;
}
header .search_popup_wrap .search_content_wrap{
    padding: 115px 0;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;   
}
header .search_popup_wrap .search_click{
    position: relative;
    width: 821px;
}
header .search_popup_wrap .search_click > input[type="text"]{
    border: none;
    border-bottom: 1px solid #000;
    width: 821px;
    padding-left: 12px;
    line-height: 65px;
    background: transparent;
    position: relative;
}
header .search_popup_wrap .search_click > .search_icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: none;
    cursor: pointer;
}
header .search_popup_wrap .search_click button .material-symbols-outlined{
    font-size: 33px;
    line-height: 68px;
}

header .search_popup_wrap .popular .popular_img_wrap{
    display: flex;
    gap: 21px;
    position: relative;
}
header .search_popup_wrap .popular > P{
    font-size: 18px;
    font-family: 'Outfit';
    padding-bottom: 18px;
    padding-top: 76px;
}
header .search_popup_wrap .popular .popular_category > a{
    width: 193px;
    height: 180px;
    display: block;
}
header .search_popup_wrap .popular .hoilday > a{
    background: url(../images/main/search/holiday.png)no-repeat;
}
header .search_popup_wrap .popular .pet > a{
    background: url(../images/main/search/pet.png)no-repeat;
}
header .search_popup_wrap .popular .hoody > a{
    background: url(../images/main/search/hoody.png)no-repeat;
}
header .search_popup_wrap .popular .women > a{
    background: url(../images/main/search/women.png)no-repeat;
}
header .search_popup_wrap .popular .popular_category > a > .popular_text{
    color: #fff;
    position: absolute;
    bottom:0;
}
header .search_popup_wrap .popular .popular_category > a > .popular_text > p{
    font-family: 'Ovo', serif;
    font-size: 16px;
    padding-bottom: 13px;
    text-align: center;
}
header .search_popup_wrap .popular .popular_category > a > .popular_text > div{
    font-family: 'Outfit';
    display: flex;
    align-items: center;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.22);
    width: 195px;
    height: 29px;

}
header .search_popup_wrap .popular .popular_category > a > .popular_text > div > p{
    padding-left: 23px;
}
header .search_popup_wrap .popular .popular_category > a > .popular_text > div > .material-symbols-outlined{
    font-size: 10px;
    padding-left: 5px;
}



/* HEADER - slide_01 */

header .slide{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
header .slide_wrap{
    position: absolute;
    width: 200%;
    height: 100vh;
    display: flex;
    transition: left 0.7s ease-out;
}
header .slide_wrap .slide1{
    position: relative;
    width: 100%;
}
header .slide_wrap .slide1 > a  {
    background: url(../images/main/slide01.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    /* position: absolute; */
    width: 100%;
    display: block;
}
header .slide_wrap .slide1 > a > .text1{
    bottom: 0;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 1000px;
    padding-bottom: 7%;
}
header .slide_wrap .slide1 > a > .text1 > .polo_logo{
    background: url(../images/main/polo_slide01.png) no-repeat;
    width: 481px;
    height: 60px;
    display: block;
    text-indent: -9999em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
header .slide_wrap .slide1 > a > .text1 > h3{
    font-size: 170px;
    font-family: 'Passions Conflict', cursive;
    color: #fff;
    text-align: center;
}


/* HEADER - slide_02 */

header .slide_wrap .slide3{
    background: url(../images/main/golf_banner/golf_bg.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
}
header .slide_wrap .slide2{
    background: url(../images/main/slide02.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
}
header .slide_wrap .slide2 > .text2{
    text-align: center;
    /* padding-top: 14%; */
    position: relative;
    bottom: 10%;
    transform: translate(-50%, -68%);
    left: 50%;
    top: 50%;
}
header .slide_wrap .slide2 > .text2 {
    color:rgba(255, 255, 255, 0.8);
}
header .slide_wrap .slide2 > .text2 > h2{
    font-size: 200px;
    font-family: 'Qwitcher Grypen', cursive;
    padding-bottom: 54px;
}
header .slide_wrap .slide2 > .text2 > p{
    font-size: 20px;
}
header .slide_wrap .slide2 > .text2 ul > li > a{
    color: #fff;
}
header .slide_wrap .slide2 > .text2 > .gender_button{
    display: flex;
    gap: 11px;
    padding-top: 39px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
header .slide_wrap .slide2 > .text2 > .gender_button > li {
    font-size: 20px;
    line-height: 43px;
    background-color: rgba(255, 255, 255, 0.22);
    width: 98px;
    height: 43px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

/* header .slide .slide_btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */
header .slide .slide_btn > button{
    width: 90px;
    height: 90px;
    opacity: 0.6;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
header .slide .slide_btn .btn_pause{
    background: url(../images/main/white_left.png) no-repeat;
    background-size: cover;
    left: 120px;
}
header .slide .slide_btn .btn_next{
    background: url(../images/main/white_right.png) no-repeat;
    background-size: cover;
    right: 120px;
}

header .slide .siwper_num{
    padding: 9px 18px;
    position: absolute;
    color: #fff;
    bottom: 34px;
    right: 50%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 10px;
    border-radius: 20px;
    font-family: 'Outfit';
    transform: translateX(50%);
}

/* slide plugin bxSlide */
.slide .bx-wrapper{
    border: none;
}

.slide .bx-wrapper .bx-controls-direction a {
    opacity: 0.6;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 0;
    width: 90px;
    height: 90px; 
}
.slide .bx-controls-direction .bx-prev{
    background: url(../images/main/white_left.png) no-repeat;
    background-size: cover;
    left: 120px;
}
.slide .bx-controls-direction .bx-next{
    background: url(../images/main/white_right.png) no-repeat;
    background-size: cover;
    right: 120px;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    background-position: 0 0;
}


/*
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
    background-position:0px;
}
*/





/* SECTION - BEST */   
.best{
    margin: 130px 0 150px 0;
} 
.content_title > h2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Playfair Display SC';
    color: #1E2F3F;
}
.best .best_category{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    gap: 53px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 37px;
}
.best .best_category li:first-child .selected{
    font-weight: 600;
    color: #AE9554;
}
.best .best_category .selected{
    font-weight: 600;
    color: #AE9554;
}
.best .best_content{
    position: relative;
    /* width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    height: 546px; */
}
.best .best_content .best_item{
    display: flex;
    gap: 24px;
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
    /* position: relative; */
}
.best .best_content .best_item::after{
    content:'';
    display:block;
    clear:both;
}
/* 잠시 없애 놓기 best item */
/* .best_content .best_item:not(:first-child){
   display: none;
} */
.best .best_content .hide{
    display: none;
}
.best_content .best_item > div{
    position: relative;
    /* display: none; */
}
.best_content .best_item > div > .best_img > a > img{
    width: 292px;
    height: 420px;
    padding-bottom: 41px;
    object-fit: cover;
}
.best_content .best_item > div > a {
    position: absolute;
    left: 256px;
    top: 16px;
    color: #8E8E8E;
}
.best .best_content > .best_item > div > .best_text > a > p{
    font-weight: 15px;
    font-family: 'Outfit';
}
.best .best_content > .best_item > div > .best_text > a > p:first-child{
    font-weight: 300;
    padding-bottom: 6px;
}
.best .best_content > .best_item > div > .best_text > a > p:last-child{
    font-size: 17px;
    font-weight: 600;
    padding-top: 22px;
}

.best .pagination_wrap > ul{
    display: flex;
    gap: 16px;
    padding-top: 79px;
    justify-content: center;
}
.best .pagination_wrap > ul > li > button {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    border-radius: 100%;
    border: none;
    color: #D9D9D9;
    cursor: pointer;
}

.best .pagination_wrap > ul > .on > button{
    background-color: #1E2F3F;
}



/* SECTION - POLO */
.polo > h2{
    padding-bottom: 71px;
}
.polo .polo_wrap{
    display: flex;
    gap: 20px;
    width: 1240px;
    margin: 0 auto;
}
.polo .polo_wrap .polo_left > div{
    position: relative;
    width: 503px;
    height: 120px;
    margin-bottom: 20px;
}

.polo .polo_wrap .polo_left > div > .selected > .polo_text > p:last-child{
    color: #fff;
}
.polo .polo_wrap .polo_left > .homelife > .selected > .homelife_img{
    background: url(../images/main/polo_ralph_lauren/homelife_banner_color.png)no-repeat;
}
.polo .polo_wrap .polo_left > .gift > .selected > .gift_img{
    background: url(../images/main/polo_ralph_lauren/gift_banner_color.png)no-repeat;
}
.polo .polo_wrap .polo_left > .restaurant > .selected > .restaurant_img{
    background: url(../images/main/polo_ralph_lauren/restaurant_ct_color.png)no-repeat;
}
.polo .polo_wrap .polo_left > .about > .selected > .about_img{
    background: url(../images/main/polo_ralph_lauren/about_banner_color.png)no-repeat;
}
.polo .polo_wrap .polo_left > .purpose > .selected > .purpose_img{
    background: url(../images/main/polo_ralph_lauren/purpose_ct_color.png)no-repeat;
}
.polo .polo_wrap .polo_left > .purpose{
    margin-bottom: 0;
}
.polo .polo_wrap .polo_left > div > a > div:first-child{
    width: 503px;
    height: 120px;
    display: block;
    object-fit: cover;
    opacity: 0.18;
}
.polo .polo_wrap .polo_left > div > .selected > div:first-child{
    opacity: 100%;
}
.polo .polo_wrap .polo_left > .homelife > a > .homelife_img{
    background: url(../images/main/polo_ralph_lauren/homelife_banner01.png)no-repeat;
}
.polo .polo_wrap .polo_left > .gift > a > .gift_img{
    background: url(../images/main/polo_ralph_lauren/gift_banner01.png)no-repeat;
}
.polo .polo_wrap .polo_left > .restaurant > a > .restaurant_img{
    background: url(../images/main/polo_ralph_lauren/restaurant_banner.png)no-repeat;
}
.polo .polo_wrap .polo_left > .about > a > .about_img{
    background: url(../images/main/polo_ralph_lauren/about_banner01.png)no-repeat;
}
.polo .polo_wrap .polo_left > .purpose > a > .purpose_img{
    background: url(../images/main/polo_ralph_lauren/purpose_banner.png)no-repeat;
}

.polo .polo_wrap .polo_left > div > a > .polo_text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.polo .polo_wrap .polo_left > div > a > .polo_text > p{
    text-align: center;  
    font-family: 'Outfit';
}
.polo .polo_wrap .polo_left > div > a > .polo_text > p:first-child{
    font-size: 15px;
    color: #AE9554;
    font-weight: 600;
}
.polo .polo_wrap .polo_left > div > a > .polo_text > p:last-child{
    font-size: 30px;
    padding-top: 10px;
    font-weight: 900;
}
.polo .polo_wrap .polo_right{
    position: relative;
}
.polo .polo_wrap .polo_right > div{
    position: absolute;
}
.polo .polo_wrap .polo_right > .hide{
    display: none;
}
.polo .polo_wrap .polo_right > div > a > img{
    width: 713px;
    height: 680px;
    display: block;
}
.polo .polo_wrap .polo_right .polo_ct_text {
    position: absolute;
    top: 560px;
    color: #fff;
    left: 55px;
}
.polo .polo_wrap .polo_right .polo_ct_text p:first-child{
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 13px;
}
.polo .polo_wrap .polo_right .polo_ct_text p:last-child{
    font-size: 14px;
}


/* SECTION - GOLF BANNER */
.golf_banner{
    position: relative;
    margin-top: 144px;
}
.golf_banner .golf_banner_img{
     background: url(../images/main/golf_banner/rlx_bg.jpg) no-repeat;
     /* object-fit: cover; */
     width: 100%;
     /* display: block; */
     background-size: cover;
     height: 100vh;
     background-position: center;
}
.golf_banner .golf_banner_img .golf_banner_text_wrap{
    width: 1240px;
    margin: 0 auto;
}
.golf_banner .golf_banner_img .golf_banner_text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.golf_banner .golf_banner_img .golf_banner_text p{
    color: #fff;
}
.golf_banner .golf_banner_img .golf_banner_text > div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.golf_banner .golf_banner_img .golf_banner_text > div > p{
    font-size: 45px;
    font-weight: 300;
}
.golf_banner .golf_banner_img .golf_banner_text > div > img:first-child{
    width: 278px;
    height: 108px;
}
.golf_banner .golf_banner_img .golf_banner_text > div > img:last-child{
    width: 309px;
    height: 121px;
}
.golf_banner .golf_banner_img .golf_banner_text > p{
    font-size: 20px;
    padding-top: 29px;
    padding-bottom: 20px;
}
.golf_banner .golf_banner_img .golf_banner_text > a{
    width: 160px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.22);
    display: block;
}
.golf_banner .golf_banner_img .golf_banner_text > a > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(215, 215, 215, 0.3);
}
.golf_banner .golf_banner_img .golf_banner_text > a > div > p {
    line-height: 43px;
}
.golf_banner .golf_banner_img .golf_banner_text > a > div > .material-symbols-outlined{
    padding-left: 10px;
    color: #fff;
}
.golf_banner .golf_banner_img .golf_banner_text > a:hover > div > .animate__headShake{
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
.golf_banner > h2, .three_ct > h2{
    display: none;
}



/* SECTION - THREE BANNER */
.three_ct{
    width: 1240px;
    margin: 144px auto;
}
.three_ct > ul {
    display: flex;
}
.three_ct > ul > li{
    position: relative;
    overflow: hidden;
}
/* .three_ct > ul > li > a > .three_img {
    width: 413px;
    height: 549px;
}
.three_ct > ul > li > a > .wellington_img{
    background:url(../images/main/three_banner/wellington.png) no-repeat;
    background-size: 100%;
}
.three_ct > ul > li > a > .purple_img{
    background:url(../images/main/three_banner/purple.png) no-repeat;
    background-size: 100%;
}
.three_ct > ul > li > a > .perfume_img{
    background:url(../images/main/three_banner//purfume01.png) no-repeat;
    background-size: 100%;
} */

.three_ct > ul > li > a:hover img{
    transform: scale(1.1);
}
.three_ct > ul > li > a > img {
    width: 413px;
    height: 549px;
    object-fit: cover;
    transition: all 0.2s linear;
}
.three_ct > ul > li > a > .three_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
}
.three_ct > ul > li > a > .three_text > p:first-child{
    font-family: 'Playfair Display SC';
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 13px;
    white-space:nowrap;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.three_ct > ul > li > a > .three_text > p:last-child{
    font-size: 20px;
    font-weight: 500;
}




/* SECTION - STORY */
.story > h2{
    padding-bottom: 100px;
}
.story .story_ct_wrap{
    width: 1240px;
    margin: 0 auto;
}
.story .story_ct_wrap > ul{
    display: flex;
    gap: 24px;
    padding-bottom: 139px;
}
.story .story_ct_wrap > ul li a img{
    width: 397px;
    height: 500px;
    object-fit: cover;
}
.story .story_ct_wrap > ul li a .story_text{
    margin-top: 34px;
    word-wrap: normal;
}
.story .story_ct_wrap > ul .reverse a .story_text{
    margin: 19px 0 33px 0;
}
.story .story_ct_wrap > ul li a .story_text > h3{
    font-weight: 600;
    font-size: 17px;
}
.story .story_ct_wrap > ul li a .story_text > p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    padding-top: 24px;
}
/*
.story .story_ct_wrap .story3{
    display: none;
}
*/
.story .more_btn {
    width: 160px;
    height: 43px;
    background-color: #1E2F3F;
    margin: 0 auto;
    border: 1px rgba(255, 255, 255, 0.22);
    box-sizing: border-box;
}
.story .more_btn > a{
    color: #fff;
    /* text-align: center; */
    line-height: 43px;
    display: block;
}
.story .more_btn > a > p{
    text-align: center;
}
.story .more_btn > a > p > i {
    padding-left: 11px;
    transform: translateY(-31%);
}


/* FOOTER */
footer{
    width: 100%;
    background: #F5F5F5;
    margin-top: 161px;
}
footer > div{
    width: 1240px;
    margin: 0 auto;
}
footer .line{
    border-bottom: 1px solid #E3E3E3;
    display: block;
    width: 100%;
}
footer .footer_top{
    display: flex;
    padding: 70px 0;
    white-space: nowrap;
}
footer .footer_top > .footer_list{
    padding-right: 189px;
}
footer .footer_top > .footer_list > ul{
    display: flex;
    gap: 135px;
}
footer .footer_top > .footer_list > ul > li > h3{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 23px;
}
footer .footer_top > .footer_list > ul > li > .list > li{
   margin-bottom: 15px;
}
footer .footer_top .email_ct > h3{
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
}
footer .footer_top .email_ct form{
    padding: 26px 0 33px 0;
}
footer .footer_top .email_ct form > #email{
    width: 378px;
    height: 60px;
}
footer .footer_top .email_ct form > #email{
    width: 378px;
    height: 60px;
    padding-left: 25px;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    box-sizing: border-box;
    display: inline-block;
    background-color: #F2F2F2;
    border: 1px solid #E4E4E4;
}
footer .footer_top .email_ct form button{
    width: 85px;
    height: 60px;
    color: #fff;
    background-color: #1E2F3F;
    cursor: pointer;
    border: none;
}
footer .footer_top .email_ct .email_explain{
    line-height: 25px;
    font-size: 13px;
    font-weight: 300;
}
footer .footer_top .email_ct .email_explain > p > i{
    padding-right: 10px;
}

footer .footer_bottom{
    font-size: 13px;
    padding: 60px 0;
    display: flex;
}
footer .footer_bottom > address{
    padding-right: 177px;
}
footer .footer_bottom > address > ul{
    display: flex;
    gap: 10px;
    line-height: 19px;
}
footer .footer_bottom > address > ul > li{
    position: relative;
    padding-left: 10px;
}
footer .footer_bottom > address > ul > li::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #37373797;
}
footer .footer_bottom > address > ul > li:first-child{
    padding-left: 0;
}
footer .footer_bottom > address > ul > li:first-child::before{
    display: none;
}
footer .footer_bottom > address a{
    font-weight: bold;
    text-decoration: underline;
}
footer .footer_bottom > address > div {
    padding-top: 25px;
    line-height: 19px;
}
footer .footer_bottom > address > div > p:last-child{
    padding-top: 20px;
}

footer .footer_bottom .sns .sns_wrap{
    display: flex;
    gap: 15px;
}
footer .footer_bottom .sns .sns_wrap > li > a{
    width: 36px;
    height: 36px;
    display: block;
    background-color: #1E2F3F;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
footer .footer_bottom .sns .sns_wrap > li > a:hover{
    background-color: #AE9554;
}
footer .footer_bottom .sns .sns_wrap .icon_size > a > .fa-brands{
    font-size: 18px;
    line-height: 36px;
}
footer .footer_bottom .sns .sns_wrap > .kakao > a{
    position: relative;
}
footer .footer_bottom .sns .sns_wrap > .kakao > a > img{
    width: 20px;
    height: 20px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

footer .footer_bottom .sns{
    position: relative;
}
footer .footer_bottom .sns .sns_wrap li > ul {
    line-height: 22px;
    padding-top: 31px;
    /* display: none; */
    /* position: relative; */
    left: 0;
}
footer .footer_bottom .sns .sns_wrap li > ul > li > a{
    font-size: 13px;
    font-weight: 300;
    /* position: absolute; */
}
footer .footer_bottom .sns .sns_wrap li > ul {
    display: block;
    width: 300px;
    position: absolute;
    display: none;
}
footer .footer_bottom .sns .sns_wrap li > ul > li > a > i{
    padding-right: 7px;
}

footer .footer_bottom .sns .sns_wrap li:hover > ul{
    display: block;
}
/*
footer .footer_bottom .sns .sns_wrap .facebook > ul > li > a{
    display: none;
}
*/